<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:** 

* List popular languages for Data Science
* Commonly used libraries used by Data Scientists
* Data Science Tools
* Examples

Some of the popular languages that Data Scientists use are:
    
    1. Phyton
    2. R
    3. SQL

Some of the commonly used libraries used by Data Scientists include:
    
    1. Panda
    2. NumPy
    3. SciPy
    4. Scikit
    5. TensorFlow
    6. Keras

|Data Science Tools|
|---|
|Apache Hadoop|
|Apache Spark|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
value1 = "3"
value2 = "4"
value3 = "5"
calc = (int(value1))*(int(value2))+(int(value3))
print(calc)

17

In [3]:
'This will convert 200 minutes to hours by diving by 60'
min = "200"
hours = "60"
calc2 = (float(min))/(float(hours))
print(calc2)

3.3333333333333335

## Author
Georg