## This is the exam preparation file by Georg

Exercise 1: Create a new Jupyter notebook called DataScienceEcosystem.ipynb

"a) click on plus, generate new notebook, b)  right mouse click on name -> rename or F2"

Exercise 2: "# Data Science Tools and Ecosystem"

# Data Science Tools and Ecosystem

Exercise 3: Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
List popular languages for Data Science
* Phyton
* R
* SQl 
* C++
* many more

Exercise 4: Create a markdown cell to list data science languages = create an ordered list

1. Phyton
2. R
3. SQL

Exercise 5: Create a markdown cell to list data science libraries = create an ordered list

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy 
3. SciPy 
4. Scikit
5. TensorFlow 
6. Keras

Exercise 6 - Create a markdown cell with a table of Data Science tools = single column table with the header: Data Science Tools

|Data Science Tools|
|---|
|Apache Hadoop|
|Apache Spark|
|Jupyter|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples = use ### before the Text

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers.
the following operation is supposed to be calculated: (3*4)+5 = 17

In order to do so the code to be entered is: 

value1 = "3"
value2 = "4"
value3 = "5"
calc = (int(value1))*(int(value2))+(int(value3))
print(calc)

In [6]:
value1 = "3"
value2 = "4"
value3 = "5"
calc = (int(value1))*(int(value2))+(int(value3))
print(calc)

ReferenceError: int is not defined

Exercise 9 - Create a code cell to convert minutes to hours

TASK: 
This will convert 200 minutes to hours by diving by 60.
200 minutes into hours

In [8]:
'This will convert 200 minutes to hours by diving by 60'
min = "200"
hours = "60"
calc2 = (float(min))/(float(hours))
print(calc2)

ReferenceError: float is not defined

Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered. 
In this new cell start with an introductory line titled: Objectives: in bold font. 
Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

Exercise 11 - Create a markdown cell to indicate the Author's name

In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author

## Author
Georg

Exercise 12 - Share your notebook through GitHub

In [ ]:
Upload your notebook to a public respository on GitHub.